<div class="flex justify-between w-3/4 px-4 py-3 my-2 mx-auto">
  <% a = AvatarPresenter.new(avatar, self) %>
  <div>
    <%= image_tag "customer/antonio.png", size: "48×48", alt: "アバター画像", class: "mx-auto" %>
    <p><%= avatar.name %></p>
  </div>
  <div class="text-left">
    <%= render "shared/meter", min: 0, max: 50, value: a.total_level, label: "レベル:", content: "#{a.total_level}/50"  %>
    <%= render "shared/meter", min: 0, max: 300, value: a.total_experience_point, label: "経験値:", content: "#{a.total_experience_point}/300"  %>
  </div>
</div>