<%# NOTE: link_toではなぜかpostメソッドが実行できず、仮でbutton_toにしている %>
<%= button_to owned_skill_path(id: task.id), class: "w-full", method: :patch, remote: true do %>
  <div 
    class="shadow-md bg-white rounded-lg w-3/4 px-4 py-3 my-2 mx-auto cursor-pointer active:shadow"
  >

    <div class="flex justify-between">
      <span></span>
      <span><%= task.name %></span>
      <span><%= task.experience_point %>Pt</span>
    </div>

    <div class="flex justify-between h-3.5">
      <span></span>
      <span></span>
      <% t = TaskPresenter.new(task, self) %>
      <span class="min-w-1/4 text-left">
        Today
        <% if t.today_done_count > 0 %>
          +<%= t.today_done_count %>回
        <% else %>
          not yet ...
        <% end %>
      </span>
    </div>

  </div>
<% end %>