<header class="bg-gray-300 h-8 px-3.5 flex justify-between" >
  <%= link_to "ToDoRPG", :root , class: "btn-primary" %>
  <div>
    <%= if current_customer 
          link_to "ログアウト", :session, data: { turbo_method: :delete }
        else
          link_to "ログイン", :login
        end
    %>
  </div>
</header>
