<% title = "Game Top" %>

<div class="text-center">
  <h1 class="text-3xl m-8 text-blue-500">トップページ</h1>
  <div class="flex justify-center gap-2.5"> 
    <a href="#" class="shadow-lg px-2 py-1  bg-blue-400 text-lg text-white font-semibold rounded  hover:bg-blue-500">新規登録</a>

    <a href="#" class="shadow-lg px-2 py-1  bg-blue-400 text-lg text-white font-semibold rounded  hover:bg-blue-500">ログイン</a>
  </div>
</div>